@import 'styles/_colors.scss';

div.activity-controls-container {
    input {
        border-color: $button-brown-light;
    }

    width: 100%;
    margin: 0px;
    
    div.bs-col {
        margin-bottom: 10px;
        padding: 0 10px 0 0 ;
    }
    @media screen and (max-width: 767px) {
        button {
            width: 100%;
        }
    }
}
