.activity-container {
    background-color: rgba(248, 246, 241, 0.90);
    //background-image: url(../../images/checkerboard-cross.png);
   // background-blend-mode: soft-light;
 //   background-size: 50%;
   // background-attachment: fixed;
    //background-repeat: repeat;
    margin-left: 145px;
    margin-top: 68px;
    padding: 10px;
    width: calc(100vw - 145px);
}
