@use 'styles/_layout.scss';

.activity-container {
    position: relative;
    margin-left: layout.$sidebar-width;
    padding: 10px;
    width: calc(100vw - #{layout.$sidebar-width});
    min-height: calc(100vh - #{layout.$header-height});
}

@media screen and (max-width: 767px){
    .activity-container {
        margin-left: 0px;
        width: 100%;
        margin-bottom: layout.$nav-height-mobile;
    }
    
}
