@import 'styles/_colors.scss';

div.activity-controls-container {
    input {
        border-color: $button-brown-light;
    }

    width: 100%;
    margin: 0px;
    
    div.bs-col {
        margin-bottom: 10px;
        padding: 0 10px 0 0 ;
    }
    div.keyword {
        background-color: $button-brown-dark;
        border-radius: 0.25rem;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 6px 12px;
    }
    @media screen and (max-width: 767px) {
        button {
            width: 100%;
        }
    }
}
