@import 'styles/_layout.scss';

.activity-container {
    position: relative;
    margin-left: $sidebar-width;
    margin-top: $header-height;
    padding: 10px;
    width: calc(100vw - #{$sidebar-width});
    min-height: calc(100vh - #{$header-height});
}
