.date-block-container {
    border-radius: 10px;
    margin-bottom: 10px;
    
    .date-container {
        height: 100%;
        //width: 40px;
        display: flex;
        align-items: center;
    }
    div.date-col {
        min-width: 70px;
        max-width: 90px;
    }
}