@use 'styles/_colors.scss';
@use 'styles/_layout.scss';

div.date-block-container {
    position: relative;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 0px;
    
    .date-container {
        font-size: 1.2em;
        height: 100%;
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
            top: 80px;
            display: block;
            width: 100%;
            text-align: center;
            background-color: colors.$body-bg;
        }
    }
    div.date-col {
        min-width: 85px;
        margin-right: 10px;
    }
    div.entries-col {
        padding: 0px;
    }
}