@import 'styles/_colors.scss';
div.entry-container {
    margin: 0 0 10px 0px;
}
div.entry-container:last-child {
    margin: 0;
}
div.time-container {
    padding-left: 0px;
    min-width: 75px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}
div.entry-data-container {
    padding: 8px 20px;
    margin-left: 10px;
    margin-top: 0px;
    position: relative;
    border-radius: 10px;
}
.entry-section {
    padding: 5px 0;
    align-content: center;
}
.entry-heading {
    padding: 3px 0px;
    border-radius: 10px 10px 0px 0px;

    span {
        margin-right: 10px;
    }
}

.entry-type-secondary {
    font-weight: 200;
}
.entry-time {
    font-weight: 200;
}
.manage-entry-col {
    display: flex;
    align-items: flex-end;
}

i.manage-icon {
    margin-left: 10px;
    margin-right: 0px;
}
.entry-data-container::after {
    position: absolute;
    top: calc(50% - 10px);
    left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-right: solid 10px;
    border-bottom: solid 10px transparent;
    border-top: solid 10px transparent;
}

.health-check-entry-container {
    background-color: $health-check-bg;
    .entry-heading {
        background-color: $health-check-bg;
    }
}
.health-check-entry-container::after {
    border-right-color: $health-check-bg;
}

.meal-entry-container {
    background-color: $meal-bg;
    .entry-heading {
        background-color: $meal-bg;
    }
}
.meal-entry-container::after {
    border-right-color: $meal-bg;
}
div.add-missing-health-check-container {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        margin-bottom: -34px;
    }

    button {
        border-radius: 7px;
        padding: 5px 9px;
        position: relative;
        margin: 0 0 10px 0;
        // border: 1px dashed $font-brown 
    }
    button::after {
        z-index: -1;
        position: absolute;
        left: calc(50% - 10px);
        bottom: -10px;
        content: '';
        width: 0;
        height: 0;
        border-top: solid 10px $button-light-red;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
    }
    button:hover::after {
        border-top: solid 10px $button-light-red;
    }
}

@media screen and (max-width: 768px) {
    div.time-container {
        margin-left: 10px;
    }
    div.entry-data-container {
        margin-top: 10px;
        margin-left: 0px;
    }
    div.entry-data-container::after {
        display: none;
    }
    i.manage-icon {
        margin-left: 0px;
        margin-right: 10px;
    }
}
