@import 'styles/_colors.scss';

.login-container {
    input {
        width: 150px;
    }
    div.form-col {
        padding: 0px 7px 10px 7px;
    }
    @media (max-width: 767px) {
        input, button {
            height: 45px;
            width: 100%;
            font-size: 1.1em;
        }
        div.form-col {
            margin-top: 10px;
        }
    }
}
