@import 'styles/_colors.scss';

.login-container {
    div.form-col {
        padding-left: 7px;
        padding-right: 7px;
    }
    .password {
        max-width: 150px;
    }
    .username {
        max-width: 150px;
    }
    .filler {
        display: none;
        height: 8px;
    }
    @media (max-width: 767px) {
        button.signup-button {
            width: 100%;
        }
        .login-button {
            width: 100%;
        }
        .filler {
            display: block;
        }
        .password {
            max-width: 100%;
        }
        .username {
            max-width: 100%;
        }
    }
}
