@import 'styles/colors.scss';

.header-container {
    //color: hsl(10, 15%, 31%);
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: $header-bg;
    // background-color: hsl(195, 53%, 79%);
    .header {
        height: 68px;
        min-width: 320px;
        padding: 15px 0px;
    }
    .logo {
        font-size: 1.5em;
        min-width: 200px;
        align-self: center;
    }
    .filler {
        min-height: 10px;
    }
    .login {
        align-self: center;
    }
    span.x {
        color:hsl(10, 70%, 50%)
    }
}
