@import 'styles/_colors.scss';
@import 'styles/layout.scss';

div.header-container {
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: $header-bg;
    box-shadow: $shadow-med;

    h2 {
        vertical-align: middle;
        font-size: 30px;
        margin-bottom: 0;
        text-shadow: $text-shadow;
        color: $font-white;
    }

    @media screen and (max-width: 767px) {
        text-align: center;
    }
    .header {
        height: $header-height;
        min-width: 320px;
        padding: 15px 0px;
    }
    .logo {
        font-size: 1.5em;
        min-width: 200px;
    }
    .filler {
        min-height: 10px;
    }
    .login {
        align-self: center;
    }
    span.x {
        color: hsl(10, 70%, 50%);
    }
}
