.ingredient-pill {
    position: relative;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    display: inline-block;
    background-color: hsl(88, 30%, 80%);
    border-radius: 5px;

    .pill-primary {
        text-decoration: inherit;
        font-weight: 500;
        display: inline-block;
        padding: 0px 4px;
        margin: 0;
    }
    .pill-secondary {
        height: 100%;
        display: none;
        font-size: 1em;
        font-weight: 300;
        border-radius: 5px;
        background-color: hsla(0, 0, 90%, 50%);
        margin: 0;
        padding: 0px 4px;
    }
    i {
        font-size: .8em;
    }
    i:hover {
        cursor: pointer;
        opacity: .5;
    }
}
.ingredient-pill:hover {
    cursor: pointer;
    $hover: hsl(88, 30%, 90%);
    background-color: $hover;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    // .pill-secondary {
    //     display: inline-block;
    // }
    
}
