@use 'styles/_colors.scss';
@use 'styles/layout.scss';

div.navigation-menu-mobile-container {
    position: fixed;
    height: layout.$nav-height-mobile;
    background-color: colors.$sidebar-bg;
    box-shadow: colors.$shadow-med;
    width: 100vw;
    bottom: 0px;
    //padding: 10px 0px;
    z-index: 1;

    div.nav-item {
        padding: 10px;
        height: layout.$nav-height-mobile;
        text-align: center;
    }
    div.active {
        background-color: colors.$button-green-light-hover;
    }
    div.col {
        padding: 0px;
    }
    a {
        font-family: 'Barlow', sans-serif;
        color: colors.$font-brown;
        text-decoration: none;
    }
}
