@import 'styles/_colors.scss';

 div.pill-container {
    .pill-body {
        border-radius: 0.25rem;
        margin: 0;
        white-space: nowrap;
    }
    .pill-deleteable {
        border-radius: 0.25rem 0 0 0.25rem;
    }
    .pill-brown {
        background-color: $entry-pill-bg;
    }
    .pill-highlight {
        background-color: $entry-pill-bg-hightlight;
        border: 1px dashed black;
    }
    .pill-sm {
        padding: 0px 4px;
    }
    .pill-md {
        padding: 5px 9px;
    }
    .pill-lg {
        padding: 6px 12px;
    }
    button.delete-btn-sm {
        padding: 0px 4px;
    }
    button.delete-btn-md {
        padding: 5px 9px;
    }
    button.delete-btn-lg {
        padding: 6px 12px;
    }
}
