.health-check-form-container {
    width: 100%;

    .symptom-list {
        width: 100%;
        padding: 10px 0px;
    }
    .form-row {
        margin-bottom: 15px;
    }
    button.mood-button {
        border-color:#ced4da;
    }

}