

//LIGHT BROWN
.button-light-brown {
    cursor: pointer;
    border-color: $button-brown-light;
    color: $font-brown;
    background-color: $button-brown-light;
}
.button-light-brown:hover {
    border-color: $button-brown-light-hover;
    background-color: $button-brown-light-hover;
}
.button-light-brown:focus {
    border-color: $button-brown-light-hover;
    background-color: $button-brown-light-hover;
}
//DARK BROWN
.button-dark-brown {
    cursor: pointer;
    border-color: $button-brown-dark;
    color: $font-brown;
    background-color: $button-brown-dark;
}
.button-dark-brown:hover {
    border-color: $button-brown-light-hover;
    background-color: $button-brown-light-hover;
    color: $font-brown;
    
}
.button-dark-brown:focus {
    border-color: $button-brown-light-hover;
    background-color: $button-brown-light-hover;
    color: $font-brown;
    
}


//LIGHT GREEN
button.button-light-green {
    background-color: $button-green-light;
}
button.button-light-green:hover {
    background-color: $button-green-light-hover;
}
button.button-light-green:focus {
    background-color: $button-green-light-hover;
}

//DARK GREEN

.button-dark-green {
    border-color: $button-green-dark;
    color: $font-white;
    background-color: $button-green-dark;
}
.button-dark-green:hover {
    color: $font-white;
    background-color: $button-green-dark-hover;
}
.button-dark-green:focus {
    color: $font-white;
    background-color: $button-green-dark-hover;
}
