//BACKGROUND COLORS
$body-bg:hsl(43, 33%, 96%);
$header-bg: hsl(40, 53%, 76%);
$sidebar-bg: hsl(40, 53%, 86%);
$health-check-bg: hsl(40, 33%, 80%);
$meal-bg: hsl(40, 33%, 90%);
$entry-pill-bg: hsl(40, 53%, 86%);

//FONT COLORS
$font-color: hsl(10, 15%, 31%)