@import 'styles/_colors.scss';

button.meal-form-submit-button {
    border: none;
    background-color: $button-green-light;
}
button.meal-form-submit-button:hover {
    border: none;
    background-color: $button-green-light-hover;
}

.meal-form-container {
    width: 100%;

    .ingredient-list {
        width: 100%;
        padding: 10px 0px;
    }
    .row {
        margin-bottom: 15px;
    }

}